

body {
  color: white !important;
  background-color:rgb(15, 16, 29) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.borderLineSmall{
  border-top: 3px solid rgb(47, 44, 133);
  border-radius: 5px;
  margin: 1%;
}

/* For WebKit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: rgb(15, 16, 29); /* Set the background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #42329bb3; /* Set the color of the scrollbar thumb */
}